<footer>
    <div class="contentFooter">
        <ul>
            <li>
                <button><i class="far fa-address-card"></i></button>
                <span>01,Tran Quang Dieu,TP.Quy Nhon</span>
            </li>
            <li>
                <button><i class="far fa-clock"></i></button>
                <span>7.00 - 21.00</span>
            </li>
        </ul>
        <ul>
            <li>
                <button><i class="fas fa-phone-volume"></i></button>
                <span>Huy don hang: 0987654321</span>
            </li>
            <li>
                <button><i class="fas fa-headphones-alt"></i></i></button>
                <span>CSKH: 0987654321</span>
            </li>
        </ul>
        <ul>
            <li>
                <div class="job">
                    <button><i class="fas fa-users"></i></button>
                    <span>Tuyen dung</span>
                </div>
                <ul class="listJob">
                    <li>
                        <a href="#">
                            <button><i class="fas fa-code"></i></button>
                            <span>01 Lap trinh vien Full-stack</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button><i class="fas fa-code"></i></button>
                            <span>01 Lap trinh vien Front-end</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button><i class="fas fa-store"></i></i></button>
                            <span>02 Nhan vien ban hang</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <p class="maker">Website duoc phat trien boi <a href="#">TechOne-Soft Co</a></p>
</footer>
<button class="scroll"><i class="fas fa-sort-up"></i></button>