<a href="#" id="top" style="display: none">top</a>
<header class="headerMain">
    <a href="/"><img src="/images/02_Home2.webp" alt="homeimg"></a>
    <div class="searchbox">
        <input type="text" name="search" placeholder="Ten san pham">
        <button class="hideListSearch"></button>
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    <ul class="listSearch">
      
    </ul>
    <a href="/cart" class="cart">
        <span class="iconCart">
            <i class="fas fa-shopping-cart"></i>
            <span id="cartnumber">0</span>
        </span>
        <span>Gio hang</span>
    </a>
    <div class="phone">
        <i class="fas fa-mobile-alt"></i>
        <span>0987654321</span>
    </div>
    <button class="openCategrories">
        <i class="fas fa-bars"></i>
    </button>
    <nav class="categories">
        <ul class="listCategories">
            <li><a href="/SmartPhone"><img src="/images/phone.svg" alt="phone"><span>Dien thoai</span></a></li>
            <li><a href="/Laptop"><img src="/images/tablet.svg" alt="laptop"><span>Laptop</span></a></li>
            <li><a href="/Tablet"><img src="/images/laptop.svg" alt="tablet"><span>Tablet</span></a></li>
            <li><a href="/PC"><img src="/images/computer.svg" alt="computer"><span>PC</span></a></li>
            <li><a href="/TaiNghe"><img src="/images/audio.svg" alt="audio"><span>Tai nghe</span></a></li>
            <li><a href="/ManHinh"><img src="/images/monitor.svg" alt="screen"><span>Man hinh</span></a></li>
        </ul>
    </nav>
</header>
<header class="headerMobile">
    <a href="/"><img src="/images/02_Home2.webp" alt="homeimg"></a>
    <a href="/cart" class="cart">
        <span class="iconCart">
            <i class="fas fa-shopping-cart"></i>
            <span id="cartnumber">0</span>
        </span>
        <span>Gio hang</span>
    </a>
    <button class="openCategrories">
        <i class="fas fa-bars"></i>
    </button>
</header>
<nav class="mobileCategories">
    <ul class="listCategories-mobile">
        <li><a href="/SmartPhone"><img src="/images/phone.svg" alt="phone"><span>Dien thoai</span></a></li>
        <li><a href="/Tablet"><img src="/images/tablet.svg" alt="tablet"><span>Tablet</span></a></li>
        <li><a href="/Laptop"><img src="/images/laptop.svg" alt="laptop"><span>Laptop</span></a></li>
        <li><a href="/PC"><img src="/images/computer.svg" alt="computer"><span>PC</span></a></li>
        <li><a href="/TaiNghe"><img src="/images/audio.svg" alt="audio"><span>Tai nghe</span></a></li>
        <li><a href="/ManHinh"><img src="/images/monitor.svg" alt="ram"><span>Man hinh</span></a></li>
    </ul>
</nav>