<main class="container">
    <section class="headerDashboard">
        <img src="/images/02_Home2.webp" alt="logo" />
        <div class="deleteAll">
            <input type="checkbox" name="selectAll">
            <span>|</span>
            <i class="fas fa-trash"></i>
            <span>|</span>
            <i class="far fa-plus-square"></i>
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="Nhap ten san pham">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="user">
            <i class="fas fa-user"></i>
            <span>hoainam</span>
        </div>

    </section>
    <section class="contentDashboard">
        <ul class="tables">
            <li><a href="#">Bang 1</a></li> 
            <li><a href="#">Bang 1</a></li>
            <li><a href="#">Bang 1</a></li>
            <li><a href="#">Bang 1</a></li>
            <li><a href="#">Bang 1</a></li>
            <li><a href="#">Bang 1</a></li>
        </ul>
        <div class="controlData">
            <ul class="listFieldName">
                <li>Fieldname1 </li>
                <li>Fieldname1 </li>
                <li>Fieldname1 </li>
                <li>Fieldname1 </li>
                <li>Fieldname1 </li>
                <li>Fieldname1 </li>
            </ul>
            <ul class="listData">
                <li>
                    <a herf="#">
                        <ul class="listField">
                            <li><img src="/images/samsung-galaxy-s10-lite.jpg" alt="imgProduct"> </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a herf="#">
                        <ul class="listField">
                            <li><img src="/images/samsung-galaxy-s10-lite.jpg" alt="imgProduct"> </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a herf="#">
                        <ul class="listField">
                            <li><img src="/images/samsung-galaxy-s10-lite.jpg" alt="imgProduct"> </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a herf="#">
                        <ul class="listField">
                            <li><img src="/images/samsung-galaxy-s10-lite.jpg" alt="imgProduct"> </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a herf="#">
                        <ul class="listField">
                            <li><img src="/images/samsung-galaxy-s10-lite.jpg" alt="imgProduct"> </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a herf="#">
                        <ul class="listField">
                            <li><img src="/images/samsung-galaxy-s10-lite.jpg" alt="imgProduct"> </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a herf="#">
                        <ul class="listField">
                            <li><img src="/images/samsung-galaxy-s10-lite.jpg" alt="imgProduct"> </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                            <li>Fieldname1 </li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="detailItemData">
        <form id="dashboardForm"enctype="multipart/form-data">
            <ul class="listInput">
                <li style="grid-row: 1">
                    <label>TenSP:</label>
                    <input type="text" name="tensp" placeholder="vd: SamSung Note 10+">
                </li>
                <li style="grid-row: 1">
                    <label>Gia:</label>
                    <input type="text" name="gia" placeholder="vd: 20000000">
                </li>
                <li style="grid-row: 1">
                    <label>Gia giam:</label>
                    <input type="text" name="giagiam" placeholder="vd: -2000000">
                </li>
                <li style="border: 1.5px solid #ebebeb; padding: .5rem; border-radius: 5px;grid-row: 1/3">
                    <label>Hinh anh san pham:</label>
                    <input type="file" name="hinhsp" placeholder="Chon hinh" multiple>
                    <ul class="listHinhAnh">
                        <li>
                            <img class="btnimg" data-index="10" src="/images/oppo-a52-black-400-400x460.png" alt="product">
                            <span><i class="fas fa-times"></i></span>
                        </li>
                        <li>
                            <img src="/images/oppo-a52-black-400-400x460.png" alt="product">
                            <span><i class="fas fa-times"></i></span>
                        </li>
                    </ul>
                </li>
                <li style="border: 1.5px solid #ebebeb; padding: .5rem; border-radius: 5px;grid-row: 2/4">
                    <label>Khuyen mai:</label>
                    <input type="text" name="khuyenmai" placeholder="vd: Giam 1 trieu...">
                    <button class="addDiscount add">Them</button>
                    <ul class="styleOfList" id="listKhuyenMai">
                        <!-- <li>Giam 1 trieu<i class="far fa-times-circle"></i></li>
                        <li>Giam 1 trieu</li>
                        <li>Giam 1 trieu</li>
                        <li>Giam 1 trieu</li>
                        <li>Giam 1 trieu</li> -->
                    </ul>
                </li>
                <li style="border: 1.5px solid #ebebeb; padding: .5rem; border-radius: 5px;grid-row: 2/4">
                    <label>Ten qua khuyen mai:</label>
                    <input type="text" name="tenquakm" placeholder="vd: Tai nghe Sony...">
                    <label style="margin-top: .5rem;">Hinh khuyen mai:</label>
                    <div class="groupInputFile_btnAdd">
                        <input type="file" name="hinhkhuyemai" placeholder="Hinh khuyen mai">
                        <i class="far fa-plus-square"></i>
                    </div>
                    <ul class="listDiscountGift">
                        <li>
                            <img src="images/samsung-galaxy-s10-lite.jpg" alt="imgDiscount">
                            <span>khuyen mai</span>
                        </li>
                        <li>
                            <img src="images/samsung-galaxy-s10-lite.jpg" alt="imgDiscount">
                            <span>khuyen mai</span>
                        </li>
                        <li>
                            <img src="images/samsung-galaxy-s10-lite.jpg" alt="imgDiscount">
                            <span>khuyen mai</span>
                        </li>
                    </ul>
                </li>
                <li style="border: 1.5px solid #ebebeb; padding: .5rem; border-radius: 5px; grid-row: 2/4">
                    <label>Phu kien:</label>
                    <input type="text" name="phukien" placeholder="vd: Sac...">
                    <button class="addAccessories add">Them</button>
                    <ul class="accessories styleOfList">
                        <!-- <li>Sac</li>
                        <li>Tai nghe</li>
                        <li>Sach huong dan su dung</li>
                        <li>Op lung</li> -->
                    </ul>
                </li>
                <li style="border: 1.5px solid #ebebeb; padding: .5rem; border-radius: 5px;">
                    <label>Mo ta:</label>
                    <input type="file" name="mota" placeholder="Chon file text mo ta" style="margin-bottom: .5rem;">
                    <span>file.html</span>
                </li>
                <li>
                    <label>Thuong hieu:</label>
                    <input type="text" name="thuonghieu" placeholder="vd: XiaoMi">
                </li>
                <li>
                    <label>Danh muc:</label>
                    <input type="text" name="danhmuc" placeholder="vd: Dienthoai">
                </li>
                <li class="btns_controlForm">
                    <button class="submit">Cap nhap</button>
                    <button>Thoat</button>
                </li>
            </ul>
        </form>
    </section>
</main>
<main class="warning">
    <h1>vui long</h1>
</main>