<form action="upload/uploadImages" enctype="multipart/form-data" method="POST" id="formUpload">
    <input type="text" name="nameImage" placeholder="Name Image">
    <input type="file" name="images" multiple>
    <input type="submit" value="send image" id="submit">
</form>