<main>
    <section class="bannerCategories">
        <ul class="mainBannerCategories owl-carousel owl-theme">
            <li>
                <a href="/promotion">
                    <img src="/images/bannerCategoriesMain1.png" alt="mainBanner">
                </a>
            </li>
            <li>
                <a href="/promotion">
                    <img src="/images/bannerCategoriesMain2.png" alt="mainBanner">
                </a>
            </li>
            <li>
                <a href="/promotion">
                    <img src="/images/bannerCategoriesMain3.png" alt="mainBanner">
                </a>
            </li>
            <li>
                <a href="/promotion">
                    <img src="/images/bannerCategoriesMain4.png" alt="mainBanner">
                </a>
            </li>
            <li>
                <a href="/promotion">
                    <img src="/images/bannerCategoriesMain5.png" alt="mainBanner">
                </a>
            </li>
        </ul>
        <div class="chilBannerCategoriesOne">
            <a href="/promotion"><img src="/images/bannerCategoriesChild1.png" alt="bannerChildOne"></a>
        </div>
        <div class="chilBannerCategoriesTwo">
            <a href="/promotion"><img src="/images/bannerCategoriesChild2.png" alt="bannerChildTwo"></a>
        </div>
    </section>
    <section class="breadCrumb">
        <ul class="listBreadCumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">SmartPhone</a></li>
        </ul>
    </section>
    <section class="brand">
        <ul class="listBrand">
            <!--RENDER FROM HOME-->
        </ul>
    </section>
    <section class="priceAndFilter_Sort">
        <ul class="listPriceRange">
            <li>Gia(trieu):</li>
            <li><a href="#" data-min="0" data-max="5">Duoi 5</a></li>
            <li><a href="#" data-min="5" data-max="10">5-10</a></li>
            <li><a href="#" data-min="10" data-max="15">10-15</a></li>
            <li><a href="#" data-min="15" data-max="20">15-20</a></li>
            <li><a href="#" data-min="20" data-max="100">Tren 20</a></li>
        </ul>
        <div class="filter">
            <span>Loc</span>
            <ul class="listFilter">
                <li class="cpu">
                    <h4>CPU</h4>
                    <ul class="listCPU">
                        <li><input type="radio" name="cpu" value="Snapdragon">Snapdragon</li>
                        <li><input type="radio" name="cpu" value="Exynos">Exynos</li>
                        <li><input type="radio" name="cpu" value="MediaTek">MediaTek</li>
                        <li><input type="radio" name="cpu" value="Bionic">Bionic(Apple)</li>
                    </ul>
                </li>
                <li class="ram">
                    <h4>RAM</h4>
                    <ul class="listRAM">
                        <li><input type="radio" name="ram" value="3 GB">3 GB</li>
                        <li><input type="radio" name="ram" value="4 GB">4 GB</li>
                        <li><input type="radio" name="ram" value="6 GB">6 GB</li>
                        <li><input type="radio" name="ram" value="8 GB">8 GB</li>
                        <li><input type="radio" name="ram" value="12 GB">12 GB</li>
                    </ul>
                </li>
                <li class="cpu_laptop" style="display: none">
                    <h4>CPU</h4>
                    <ul class="listCPU_laptop">
                        <li><input type="radio" name="cpu_laptop" value="Intel Core i7">Intel Core i7</li>
                        <li><input type="radio" name="cpu_laptop" value="Intel Core i5">Intel Core i5</li>
                        <li><input type="radio" name="cpu_laptop" value="Intel Core i3">Intel Core i3</li>
                        <li><input type="radio" name="cpu_laptop" value="AMD">AMD</li>
                    </ul>
                </li>
                <li class="ram_laptop" style="display: none;">
                    <h4>RAM</h4>
                    <ul class="listRAM_laptop">
                        <li><input type="radio" name="ram_laptop" value="4 GB">4 GB</li>
                        <li><input type="radio" name="ram_laptop" value="8 GB">8 GB</li>
                        <li><input type="radio" name="ram_laptop" value="16 GB">16 GB</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sort">
            <span>Sap xep</span>
            <select>
                <option>Theo</option>
                <option value="tang">Gia tang dan</option>
                <option value="giam">Gia giam dan</option>
                <option value="noibat">Noi bat</option>
            </select>
        </div>
    </section>
    <section class="homeProducts" style="padding-top: 0">
        <div class="headerOfProductList">
            <h1>Dien thoai noi bat</h1>
            <ul class="listProductLink" id="itemname">
                <!--render from home.js-->
            </ul>
        </div>
        <ul class="listProductHome" id="listitem">
            <!--render from home.js-->
        </ul>
        <button class="loadMore">Xem them <span id="numberItem">100</span> dien thoai</button>
    </section>
</main>