<main>
    <section class="banner">
        <div class="mainBanner">
            <div class="listBanner owl-carousel owl-theme">
                <a href="/promotion" class="item" data-hash="1"><img src="/images/oneplus.png" alt="oneplus"></a>
                <a href="/promotion" class="item" data-hash="2"><img src="/images/salesummr.png" alt="salesummer"></a>
                <a href="/promotion" class="item" data-hash="3"><img src="/images/fold.png" alt="fold"></a>
                <a href="/promotion" class="item" data-hash="4"><img src="/images/reno4.png" alt="reno4"></a>
            </div>
            <div class="slideControl">
                <a href="#1">Lorem ipsum, dolor sit amet consectetur</a>
                <a href="#2">Lorem ipsum, dolor sit amet consectetur</a>
                <a href="#3">Lorem ipsum, dolor sit amet consectetur</a>
                <a href="#4">Lorem ipsum, dolor sit amet consecteturs</a>
            </div>
        </div>
        <div class="childBannerOne">
            <a href="/promotion"><img src="/images/iphonesale.png" alt="iphone"></a>
        </div>
        <div class="childBannerTwo">
            <a href="/promotion"><img src="/images/note10plus.png" alt="samsungnote4"></a>
        </div>
        <div class="childBannerThree">
            <a href="/promotion"><img src="/images/loaSony.png" alt="loaSony"></a>
        </div>
    </section>
    <!-- SaleOff-->
    <section class="saleOff">
        <div class="headerOfProductList">
            <div class="saleOffBanner">
                Sale Off
            </div>
            <ul class="listProductLink" id="listDiscountProductName">
                <!-- render from home.js -->
            </ul>
        </div>
        <ul class="contentSaleOff owl-carousel owl-theme">
           <!--render from home.js-->
        </ul>
    </section>
    <!-- End SaleOff-->

    <!-- Smartphone home-->
    <section class="homeProducts">
        <div class="headerOfProductList">
            <h1>Dien thoai noi bat</h1>
            <ul class="listProductLink" id="listSmartPhoneName">
                <!-- render from home.js -->
            </ul>
        </div>
        <ul class="listProductHome" id="listSmartPhoneNoibat">
            <!-- render from home.js -->
        </ul>
    </section>
    <!--End Smartphone home -->
    <!-- Laptop home-->
    <section class="homeProducts">
        <div class="headerOfProductList">
            <h1>Lap top noi bat</h1>
            <ul class="listProductLink" id="listLaptopName">
                <!-- render from home.js -->
            </ul>
        </div>
        <ul class="listProductHome" id="listLaptopNoibat">
            <!-- render from home.js -->
        </ul>
    </section>
    <!-- End Laptop home-->

    <!-- Talet home-->
    <section class="homeProducts">
        <div class="headerOfProductList">
            <h1>Tablet noi bat</h1>
            <ul class="listProductLink" id="listTabletName">
                <!-- render from home.js -->
            </ul>
        </div>
        <ul class="listProductHome" id="listTabletNoibat">
            <!-- render from home.js -->
        </ul>
    </section>
    <!-- End Talet home-->

    <!-- Tai nghe home -->
    <section class="homeProducts">
        <div class="headerOfProductList">
            <h1>Tai nghe noi bat:</h1>
            <ul class="listProductLink" id="listTaiNgheName">
                <!-- render from home-->
            </ul>
        </div>
        <ul class="listProductHome" id="listTaiNgheNoibat">
            <!-- render from home -->
        </ul>
    </section>
    <!-- End Tai nghe home-->
    <!-- PC -->
    <section class="homeProducts">
        <div class="headerOfProductList">
            <h1>PC noi bat:</h1>
            <ul class="listProductLink" id="listPCName">
                <!-- render from home-->
            </ul>
        </div>
        <ul class="listProductHome" id="listPCNoibat">
            <!-- render from home -->
        </ul>
    </section>
    <!-- End PC -->

    <!-- Man hinh home-->
    <section class="homeProducts">
        <div class="headerOfProductList">
            <h1>Man hinh noi bat:</h1>
            <ul class="listProductLink" id="listManHinhName">
                <!-- render from home -->
            </ul>
        </div>
        <ul class="listProductHome" id="listManHinhNoibat">
           <!-- render from home -->
        </ul>
    </section>
    <!-- End Man hinh home -->
</main>