<main class="layoutProduct">
    <section class="breadCrumb">
        <ul class="listBreadCumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">SmartPhone</a></li>
            <li><a href="#">XiaoMi</a></li>
            <li>XiaoMi Note 9S Pro</li>
        </ul>
    </section>
    <section class="productQickInfor">
        <h2 class="nameProduct">Điện thoại Samsung Galaxy Note 10+</h2>
        <div class="containerProductInfor">
            
            <div class="productCollection" data-nav="thumbs" data-click="true">
               
            </div>
            <div class="productName_Price_Discount_Service">
                <ul class="listPrice">
                    <li class="newPrice">22.900.000d</li>
                    <li class="oldPrice"><del>23.900.000d</del></li>
                </ul>
                <div class="discount">
                    <div class="headDiscount">
                        <h4>Khuyen mai</h4>
                        <span>Giá và khuyến mãi dự kiến áp dụng đến 30/09</span>
                    </div>
                    <ul class="listDiscount">
                        <li>Bảo hành 18 tháng</li>
                        <li>Tai nghe OnePlus Bullets wireless Z</li>
                        <li>02 Ốp lưng OnePlus 8 Pro (Xanh + Đen)</li>
                        <li>Sạc không dây OnePlus Warp Charge 30W</li>
                        <li>Giam 1 trieu da tru vao gia</li>
                    </ul>
                    <div class="discountGift">
                        <h5>Quà khuyến mãi (2 hình)</h5>
                        <ul class="listDiscountGift">
                            <li data-index="0">
                                <img src="/images/tai-nghe-oneplus-bullets.jpg" alt="taingheoneplus">
                                <a href="#">Tai nghe OnePlus Bullets wireless Z</a>
                            </li>
                            <li data-index="1">
                                <img src="/images/sac-khong-day-oneplus-warp-charge.jpg" alt="sackhongdayoneplus">
                                <a href="#">Sạc không dây OnePlus Warp</a>
                            </li>
                        </ul>
                        <div class="discountGiftCollection" style="display: none" data-nav="thumbs"
                            data-allowfullscreen=true data-click="true">
                            <img src="/images/tai-nghe-oneplus-bullets-wireless-z-600x600.jpg" alt="taingheoneplus">
                            <img src="/images/sac-khong-day-oneplus-warp-charge-30w-600x600.jpg"
                                alt="sackhongdayoneplus">
                        </div>
                    </div>
                </div>
                <ul class="listService">
                    <li>Bộ sản phẩm gồm: <a href="#">Sạc, Sách hướng dẫn, Hộp, Cây lấy sim, Ốp lưng, Cáp</a></li>
                    <li>Bảo hành chính hãng 18 tháng.</li>
                    <li>1 đổi 1 trong 60 ngày đối với sản phẩm lỗi</li>
                </ul>
                <a href="/cart" class="buyNow">Mua ngay</a>
            </div>
            <div class="featureproduct">
                <h4>Thong so ky thuat</h4>
                <ul class="listFeature">
                    <li>
                        <span>Màn hình:</span>
                        <span id="ManHinh">TFT LCD, 6.5", HD+</span>
                    </li>
                    <li>
                        <span>Hệ điều hành:</span>
                        <span id="HeDieuHanh">Android 10</span>
                    </li>
                    <li>
                        <span>Camera sau:</span>
                        <span id="CameraSau">Chính 48 MP & Phụ 8 MP, 2 MP, 2 MP</span>
                    </li>
                    <li>
                        <span>Camera trước:</span>
                        <span id="CameraTruoc">13 MP</span>
                    </li>
                    <li>
                        <span>CPU:</span>
                        <span id="CPU">Exynos 850 8 nhân</span>
                    </li>
                    <li>
                        <span>RAM:</span>
                        <span id="RAM">6 GB</span>
                    </li>
                    <li>
                        <span>Bộ nhớ trong:</span>
                        <span id="BoNhoTrong">64 GB</span>
                    </li>
                    <li>
                        <span>Thẻ nhớ:</span>
                        <span id="TheNho">MicroSD, hỗ trợ tối đa 512 GB</span>
                    </li>
                    <li>
                        <span>Thẻ SIM:</span>
                        <span id="TheSim">2 Nano SIM, Hỗ trợ 4G</span>
                    </li>
                    <li>
                        <span>Dung lượng pin:</span>
                        <span id="DungLuongPin">5000 mAh, có sạc nhanh</span>
                    </li>
                    <li>
                        <span>Chất liệu:</span>
                        <span id="ChatLieu">Khung & Mặt lưng nhựa</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="productDescription_relatedProduct">
        <div class="productDescription">
            <h4><span>Mo ta Samsung Galaxy A21s (6GB/64GB)</span></h4>
            <div class="contentDescription">
                <section class="description">
                    <div class="videoshow" data-allowfullscreen=true style="display: none">
                        <a href="https://youtu.be/X7TqRYPHHcw"></a>
                    </div>
                    <ul class="listSliderDescription owl-carousel owl-theme">
                        <li class="ytplay">
                            <img src="/images/-samsung-galaxy-s10-lite-video.jpg" alt="samsungs10lite">
                            <img class="iconYt" src="/images/icon-yt.png" alt="iconYt">
                        </li>
                        <li>
                            <img src="/images/-samsung-galaxy-s10-lite-tongquan.jpg" alt="samsungs10lite">
                        </li>
                        <li>
                            <img src="/images/vi-vn-samsung-galaxy-s10-lite-chinhsuavideo.jpg" alt="samsungs10lite">
                        </li>
                        <li>
                            <img src="/images/vi-vn-samsung-galaxy-s10-lite-manhinh.jpg" alt="samsungs10lite">
                        </li>
                        <li>
                            <img src="/images/vi-vn-samsung-galaxy-s10-lite-pin.jpg" alt="samsungs10lite">
                        </li>
                        <li>
                            <img src="/images/vi-vn-samsung-galaxy-s10-lite-thietke.jpg" alt="samsungs10lite">
                        </li>
                    </ul>
                    <p class="headDescription">
                        <a href="#">Samsung Galaxy S10 Lite</a> là một phiên bản khác của dòng Galaxy S10
                        đã ra mắt trước đó nhưng mang trong mình khá nhiều khác biệt về ngoại
                        hình cũng như bên trong.
                    </p>
                    <ul class="listContentDescription">
                        <li>
                            <h3>Ngoại hình nổi bật dễ nhận biết</h3>
                            <p>Mặc dù có tên gọi là S10 Lite nhưng ngoại hình của
                                chiếc máy này mang khá nhiều thay đổi so với dòng S10
                                trước đó. Đầu tiên bạn sẽ dễ nhận thấy là trên màn hình
                                Infinity-O thì camera selfie được đặt ở chính giữa thay
                                vì lệch về góc trái như trên S10.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Quay ra ở mặt sau thì bạn cũng dễ dàng nhận ra chiếc Galaxy S10 Lite
                                với cụm camera to bản được làm hình chữ nhật trông rất hầm hố.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Khung viền được hoàn thiện từ chất liệu kim loại đem lại cảm giác
                                cầm nắm chắc chắn và sang trọng.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Khung viền được hoàn thiện từ chất liệu kim loại đem lại cảm giác
                                cầm nắm chắc chắn và sang trọng.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                        </li>
                        <li>
                            <h3>Ngoại hình nổi bật dễ nhận biết</h3>
                            <p>Mặc dù có tên gọi là S10 Lite nhưng ngoại hình của
                                chiếc máy này mang khá nhiều thay đổi so với dòng S10
                                trước đó. Đầu tiên bạn sẽ dễ nhận thấy là trên màn hình
                                Infinity-O thì camera selfie được đặt ở chính giữa thay
                                vì lệch về góc trái như trên S10.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Quay ra ở mặt sau thì bạn cũng dễ dàng nhận ra chiếc Galaxy S10 Lite
                                với cụm camera to bản được làm hình chữ nhật trông rất hầm hố.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Khung viền được hoàn thiện từ chất liệu kim loại đem lại cảm giác
                                cầm nắm chắc chắn và sang trọng.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Khung viền được hoàn thiện từ chất liệu kim loại đem lại cảm giác
                                cầm nắm chắc chắn và sang trọng.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                        </li>
                        <li>
                            <h3>Ngoại hình nổi bật dễ nhận biết</h3>
                            <p>Mặc dù có tên gọi là S10 Lite nhưng ngoại hình của
                                chiếc máy này mang khá nhiều thay đổi so với dòng S10
                                trước đó. Đầu tiên bạn sẽ dễ nhận thấy là trên màn hình
                                Infinity-O thì camera selfie được đặt ở chính giữa thay
                                vì lệch về góc trái như trên S10.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Quay ra ở mặt sau thì bạn cũng dễ dàng nhận ra chiếc Galaxy S10 Lite
                                với cụm camera to bản được làm hình chữ nhật trông rất hầm hố.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Khung viền được hoàn thiện từ chất liệu kim loại đem lại cảm giác
                                cầm nắm chắc chắn và sang trọng.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Khung viền được hoàn thiện từ chất liệu kim loại đem lại cảm giác
                                cầm nắm chắc chắn và sang trọng.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                        </li>
                        <li>
                            <h3>Ngoại hình nổi bật dễ nhận biết</h3>
                            <p>Mặc dù có tên gọi là S10 Lite nhưng ngoại hình của
                                chiếc máy này mang khá nhiều thay đổi so với dòng S10
                                trước đó. Đầu tiên bạn sẽ dễ nhận thấy là trên màn hình
                                Infinity-O thì camera selfie được đặt ở chính giữa thay
                                vì lệch về góc trái như trên S10.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                            <p>Quay ra ở mặt sau thì bạn cũng dễ dàng nhận ra chiếc Galaxy S10 Lite
                                với cụm camera to bản được làm hình chữ nhật trông rất hầm hố.</p>
                            <img src="/images/samsung-galaxy-s10-lite-tgdd8-1.jpg" alt="ss">
                        </li>
                    </ul>
                </section>
            </div>
            <a class="showMore" href="#">Doc them<i class="fas fa-sort-down"></i></a>
            <a class="buyNow2" href="#">Mua ngay</a>
        </div>
        <div class="relatedProduct">
            <h3>San pham tuong tu</h3>
            <div class="contentRelatedProduct">
                <ul class="listProduct">
                    <li>
                        <a href="#">
                            <img src="/images/xiaomi-redmi-note-9-black.jpg">
                            <div class="inforProductMain">
                                <h5>XiaoMi Redmi Note 8 Pro</h5>
                                <span class="priceMainProduct">
                                    <span class="newPrice">12.000.000d</span>
                                    <del class="oldPrice">14.000.000d</del>
                                    <span class="saleNumber">-10%</span>
                                </span>
                            </div>
                            <ul class="featureMainProduct">
                                <li>Màn hình:IPS LCD, 6.53", Full HD+</li>
                                <li>CPU:MediaTek Helio G80 8 nhân</li>
                                <li>RAM:4 GB; Bộ nhớ trong:64 GB</li>
                                <li>Camera sau: Chính 13 MP & Phụ 8 MP, 5 MP, 2 MP</li>
                                <li>Camera trước:8 MP</li>
                                <li>Dung lượng pin: 5020 mAh, có sạc nhanh</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/xiaomi-redmi-note-9-black.jpg">
                            <div class="inforProductMain">
                                <h5>XiaoMi Redmi Note 8 Pro</h5>
                                <span class="priceMainProduct">
                                    <span class="newPrice">12.000.000d</span>
                                    <del class="oldPrice">14.000.000d</del>
                                    <span class="saleNumber">-10%</span>
                                </span>
                            </div>
                            <ul class="featureMainProduct">
                                <li>Màn hình:IPS LCD, 6.53", Full HD+</li>
                                <li>CPU:MediaTek Helio G80 8 nhân</li>
                                <li>RAM:4 GB; Bộ nhớ trong:64 GB</li>
                                <li>Camera sau: Chính 13 MP & Phụ 8 MP, 5 MP, 2 MP</li>
                                <li>Camera trước:8 MP</li>
                                <li>Dung lượng pin: 5020 mAh, có sạc nhanh</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/xiaomi-redmi-note-9-black.jpg">
                            <div class="inforProductMain">
                                <h5>XiaoMi Redmi Note 8 Pro</h5>
                                <span class="priceMainProduct">
                                    <span class="newPrice">12.000.000d</span>
                                    <del class="oldPrice">14.000.000d</del>
                                    <span class="saleNumber">-10%</span>
                                </span>
                            </div>
                            <ul class="featureMainProduct">
                                <li>Màn hình:IPS LCD, 6.53", Full HD+</li>
                                <li>CPU:MediaTek Helio G80 8 nhân</li>
                                <li>RAM:4 GB; Bộ nhớ trong:64 GB</li>
                                <li>Camera sau: Chính 13 MP & Phụ 8 MP, 5 MP, 2 MP</li>
                                <li>Camera trước:8 MP</li>
                                <li>Dung lượng pin: 5020 mAh, có sạc nhanh</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/xiaomi-redmi-note-9-black.jpg">
                            <div class="inforProductMain">
                                <h5>XiaoMi Redmi Note 8 Pro</h5>
                                <span class="priceMainProduct">
                                    <span class="newPrice">12.000.000d</span>
                                    <del class="oldPrice">14.000.000d</del>
                                    <span class="saleNumber">-10%</span>
                                </span>
                            </div>
                            <ul class="featureMainProduct">
                                <li>Màn hình:IPS LCD, 6.53", Full HD+</li>
                                <li>CPU:MediaTek Helio G80 8 nhân</li>
                                <li>RAM:4 GB; Bộ nhớ trong:64 GB</li>
                                <li>Camera sau: Chính 13 MP & Phụ 8 MP, 5 MP, 2 MP</li>
                                <li>Camera trước:8 MP</li>
                                <li>Dung lượng pin: 5020 mAh, có sạc nhanh</li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>