<main>
    <section class="promotion note">
        <div class="content">
            <img src="/images/sorry.svg" alt="checked">
            <h4>Hien tai tat ca cac chuong trinh khuyen mai deu dong. Xin loi vi su bat tien nay.</h4>
        </div>
    </section>
</main>